<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>This is jobman</title>

    <link rel="stylesheet" href="~/_content/Jobman.UI.AspNetCore/JobMan/Jobman.css" />
    <link rel="stylesheet" href="~/_content/Jobman.UI.AspNetCore/JobMan/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/_content/Jobman.UI.AspNetCore/JobMan/theme/css/app-light.css" id="lightTheme">
    <link rel="stylesheet" href="~/_content/Jobman.UI.AspNetCore/JobMan/theme/css/feather.css">
    <link rel="stylesheet" href="~/_content/Jobman.UI.AspNetCore/JobMan/theme/css/simplebar.css">

    <script type="text/javascript" src="~/_content/Jobman.UI.AspNetCore/JobMan/jquery/jquery.min.js"> </script>
    <script type="text/javascript" src="~/_content/Jobman.UI.AspNetCore/JobMan/bootstrap/js/bootstrap.min.js"> </script>
    <script type="text/javascript" src="~/_content/Jobman.UI.AspNetCore/JobMan/theme/js/Chart.min.js"> </script>
    <script type="text/javascript" src="~/_content/Jobman.UI.AspNetCore/JobMan/Jobman.js"> </script>

    <!--Used theme: https://themewagon.com/themes/free-responsive-bootstrap-4-html5-admin-template-tinydash/-->
</head>
<body class="horizontal light" style="width:100%;height:100%">
    <main role="main" class="main-content">
        @RenderBody()
    </main>
</body>
</html>
