@{
    ViewData["Title"] = "Jobman Sample";
}

<div class="text-center">
    <h1 class="display-4">Welcome Jobman Sample</h1>
    <a href="/SampleJobmanMethods/AddJob1" target="_blank"> 100 job test (1)</a>
    <a href="/SampleJobmanMethods/AddJob2" target="_blank"> 10.000 job test (2)</a>

    <a href="/Jobman" target="_blank"> <h2> Jobman UI </h2></a>


</div>
